html {
    overflow: auto;
}

.needRev {
    color: red !important; 
}

body {
    max-width: 100%; /* 1920px */
    background-color: black;
    color:white;
    margin: 0;
    padding: 0;
}

#main {
    box-sizing: content-box; /*Content-Only Dimension*/
    /* border: 5px green solid; */
    /*max-width: 1520px;*/
    margin: 0px auto;
    max-width: 1920px;
    position: relative;
    left: 0;
    right: 0;
}

/***********
** BANNER **
***********/



.banner-wrapper {
    position: relative;
    padding-top: 80px;
    height: auto;
}

.banner-wrapper img {
    width: 100%;
}
/* VIDEO */
.banner-wrapper video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/************
** WELCOME **
************/
.welcome-wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    justify-content: center;
}

.welcome-wrapper > #title {
    /* border: 2px green solid; */
    text-align: center;
    font-family: unisans-bi;
    color: gainsboro;
    margin-bottom: 20px;
}
.welcome-wrapper > #subtitle {
    /* border: 2px red solid; */
    text-align: center;
    color: white;
    font-family: unisans-i;
    width: auto;
    padding: 0px 50px;
    margin-bottom: 50px;
}

/*
#subtitle .underline {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px white solid;

    
    text-decoration: underline;
}
*/

.cardIMG-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardIMG-item {
    width: 400px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.cardIMG-item p {
    text-align: center;
    font-size: 1.25em; 
    color: white;  
}

.cardIMG {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

#cardIMG-one {
    background-image: url(../res/img/about1.jpg);
}

#cardIMG-two {
    background-image: url(../res/img/about2.jpg);
}

#cardIMG-three {
    background-image: url(../res/img/about3.jpg);
}

.cardIMG-caption {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    font-family: unisans-bi;
}

/************
** PRODUCT **
************/

.product-wrapper {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.product-wrapper h1 {
    font-weight: bold;
    text-align: center;
    font-family: unisans-bi;
    width: 100%;
    margin: 10px 0;
}

.product-card {
    width: 450px;
    height: auto;
    margin: 20px 20px;
}

.product-card img {
    width: 100%;
    margin-bottom: 10px;
}

.product-caption {
    padding :20px 5px;
}

.product-caption h3 {
    font-family: unisans-bi;
}

/************
** SERVICE **
************/
.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding:20px 0;
}

.service-item {
    height: auto;
    width: 440px;
    margin: 20px 20px 20px 40px;
}

#svc1 h1 {
    font-family: unisans-bi;
    margin: 10px 0 20px;
    color:#fff;
}

#threeIcon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#threeIcon-wrapper div {
    height: 100px;
    width: 100%;
    display: flex;
}

#icon-item {
    display: flex;
}

#icon-item div {
    height: 100%;
}

.icon {
    flex: 1;
    display: flex;
    align-items: center;
}

.icon i {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

.icon-caption {
    flex: 4;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.icon-caption h6 {
    font-family: unisans-bi;
    color: #fff;
}

.icon-caption p {
    line-height: 1.25;
}

#svc3 {
    display: flex;
    align-items: center;
}

#service-img {
    max-width: 100%;
}

/***********
** FOOTER **
***********/

footer {
    box-sizing: content-box; /*Content-Only Dimension*/
    /* border: 5px green solid; */
    /*max-width: 1520px;*/
    padding:50px 0;
    margin: 0px auto;
    max-width: 1920px;
    position: relative;
    left: 0;
    right: 0;

    background-color: white;
    height: auto;
}

footer h1 {
    font-family: unisans-bi;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px 0;
    color: black;
}

.contact-wrapper {
    margin-top: 40px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-item {
    height: 100%;
    flex: 3;
    border-right: 2px darkgray solid;
    display: flex;
    color: black;
}

.contact-item:nth-last-child(2) {
    border-right: 0px darkgray none;
}

.contact-item h3 {
    font-family: unisans-i;

}

.contact-spacer {
    height: 100%;
    flex: 1;
}

.contact-details {
    padding:10px 10px 20px 30px;
}

.contact-details a{
    color:black;
    font-size: 2em;
    margin-left: 10px;
}

.contact-sosmed {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

#facebook:hover {
    color: #4e71ba;
    transition: 300ms;
}

#instagram:hover {
    color: #C13584;
    transition: 300ms;
}

#linkedin:hover {
    color: #0077B5;
    transition: 300ms;
}


*{
    padding: 0;
    margin: 0;
}